body{

    background-image: url('R.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;

}
a:link{
text-decoration: none;
a:hover{
    text decoration: red;
}
}